@keyframes result {

  0%{
    opacity: 0%;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }

}



@keyframes combat_player {

  0%{
    opacity:0;
    transform: rotateZ(0) scale(.4);
  }
  40%{
    opacity:0;
  }
  70%{
    opacity:1;
    transform: scale(2);

  }
  100%{
    opacity:1;
  }

}

@keyframes combat_enemy {
  0%{
    opacity:0;
    transform: rotateZ(0) scale(.4);
  }
  20%{
    opacity:0;
    transform: rotateZ(0) scale(.1);
  }
  70%{
    opacity:1;
    transform: scale(4);
  }
  100%{
    opacity:1;
    transform: rotateZ(720deg) scale(1);
  }

}

@keyframes result_background_active {

  0%{
    height:0%;
    opacity:0;
  }
  100%{
    opacity:.7;
    height:100vh;
  }

}

@keyframes result_background {

  0%{
    opacity:.7;
  }
  100%{
    opacity:0;
  }

}

@keyframes score_player {

  0%{
    color:white;
    transform: scale(1) translateY(0px);
  }
  30%{
    color:cornflowerblue;
    transform: scale(4) translateY(-20px) rotateY(360deg);
  }
  70%{
    color:cornflowerblue;
    transform: scale(4) translateY(-20px) rotateY(360deg);
  }
  100%{
    color:white;
    transform: scale(1) translateY(0px);
  }

}

@keyframes score_enemy {

  0%{
    color:white;
    transform: scale(1) translateY(0px);
  }
  30%{
    transform: scale(4) translateY(-20px) rotateY(360deg);
    color:orangered;
  }

  70%{
    color:orangered;
    transform: scale(4) translateY(-20px) rotateY(360deg);
  }
  0%{
    color:white;
    transform: scale(1) translateY(0px);
  }

}
