body{
  background:linear-gradient(to left,#e05b46,#389CAF) !important;
  overflow:hidden;
}

html, body {
    margin: 0;
    height: 100%;
    background:linear-gradient(to left,#e05b46,#389CAF);
    overflow:hidden;
}

.main_container{
  height:100vh;
  width:100%;
}

.game_container{
  position: relative;
  width:100%;
  height:100%;
}

.main_container{
  transition: all .3s;
}

.options{
  position: absolute;
  width:100%;
}

.choice_container{
  width:33%;
  float:left;
}

.enemy_options{
  top:0%;
  width:50%;
  right:-5%;
}

.player_options{
  top:80%;
  left:5%;
  width:50%;
}

.choice_container img {
  width:50%;
  opacity:.2;
  transition: all .5s;
}

.player_options .choice_container:hover img {
  filter: invert(56%) sepia(39%) saturate(1523%) hue-rotate(178deg) brightness(105%) contrast(101%);
  opacity:1;
}

.active_choice--player img{
  transform: scale(2);
  filter: invert(56%) sepia(39%) saturate(1523%) hue-rotate(178deg) brightness(105%) contrast(101%);
  opacity:1;
}

.active_choice--enemy img{
  transform: scale(2);
  opacity:1;
  filter: invert(46%) sepia(81%) saturate(1157%) hue-rotate(327deg) brightness(104%) contrast(101%);
}

.active_choice--enemy{
  position: absolute;
  top:105%;
  opacity:1;
  left:-15%;
  /* animation: 1 ease-in 1.2s combat_enemy; */
  transition: .3s all;
}

.quit{
  border:none;
  border-bottom:2px dashed none;
  color:white;
  font-size:25px;
  font-family: "mabar";
  transition: all .4s;
  position: absolute;
  right:5%;
  background:none;
  z-index: 9999999999;
  bottom:5%;
  opacity:.5;
}

.quit:hover{
  opacity:1;
  border-color:white;
}

.active_choice--player{
  position: absolute;
  bottom:60%;
  left:85%;
}

.active_choice--player img {
  animation: combat_player 1s ease-in 1;
}

.active_choice--enemy img {
  animation: combat_enemy 1s ease-in 1;
}

.active_choice--enemy--temp img{
  filter: brightness(0);
  opacity:1;
}


@media screen and (min-width:1000px) and (min-width:1400px) and (orientation:landscape){

  .enemy_options{
    top:15%;
    width:50%;
  }

  .vs_line{
    transform: rotate(30deg);
    height:3px;
    background:white;
    width:0%;
    position: fixed;
    left:-15%;
    top:-100px !important;
    width:300%;
    transition: all 1s;
    opacity:0;
  }

}

@media screen and (max-width:1000px) and (min-width:600px) and (orientation:portrait){

  .enemy_options{
    top:5%;
    width:50%;
  }

  .player_options{
    top:95%;
    width:50%;
  }

  .vs_line{
    transform: rotate(30deg);
    height:3px;
    background:white;
    width:0%;
    position: fixed;
    left:-15%;
    top:-100%;
    width:300%;
    transition: all 1s;
    opacity:0;
  }

  .active_choice--enemy{
    position: absolute;
    top:350px;
    opacity:1;
    left:-15%;
    /* animation: 1 ease-in 1.2s combat_enemy; */
    transition: .3s all;
  }

  .active_choice--player{
    position: absolute;
    bottom:350px;
    left:85%;
  }

}
