.result{
  font-size:50px;
  font-family: monospace;
  text-align:center;
  color:white;
  top:200px;
  width:100%;
  animation: result infinite 1s ease-in;
  left:-5px;
  font-weight: 800;
  position: absolute;
  z-index:99;
}

.result_background--active{
  height:100vh !important;
  opacity:.7 !important;
  animation: .3s ease-in result_background_active 1 !important;
}

.result_background{
  width:100%;
  animation: .3s ease-in result_background 1;
  background:black;
  opacity:0;
  transition: .5s all;
  z-index:2;
  position: absolute;
  left:0%;
  top:0%;
  height:0%;
}

.vs_line{
  transform: rotate(30deg);
  height:3px;
  background:white;
  width:0%;
  position: absolute;
  left:-15%;
  top:155%;
  width:300%;
  transition: all 1s;
  opacity:0;
}

.vs_line--active{
  opacity:1;
}

.score_active--enemy{
  animation:score_enemy 2s  ease-in 1;
}

.score_active--player{
  animation:score_player 2s  ease-in 1;
}

.winner-choice img{
  transform:scale(1.5);
}

.lose{
  color:orangered !important
}

.won{
  color:cornflowerblue !important
}

.tie {
  color:limegreen;
}
