.scoreboard{
  width:100%;
  position: absolute;
  top:35%;
  z-index:99;
}

.board{
  position: absolute;
  width:50%;
  top:0%;
}

.board p{
  font-family: "mabar";
  color:white;
  text-align: center;
}

.board .subtitle{
  font-size:30px;
}

.board .title{
  font-size:25px;
}

.player_board{
  left:-15%;
}

.enemy_board{
  right:-15%;
}

@media screen and (max-width:1200px) and (min-width:600px) and (orientation:portrait){
  .player_board{
    left:5%;
  }

  .enemy_board{
    right:5%;
  }
}
